//body {
//  font-family: "__Cormorant_Upright_6c3f77", sans-serif;
//  font-weight: 400;
//  font-size: $default-font-size;
//  line-height: 1.7;
//  color: $color-grey-dark;
//  padding: 3rem;
//
//  box-sizing: border-box;
//}
//
//h2 {
//  max-width: 42rem;
//  font-family: "__Cormorant_Upright_6c3f77", sans-serif;
//  font-weight: 400;
//  font-size: 4.0rem;
//}
//
//.title-all-caps {
//  text-transform: uppercase;
//  font-size: 1.2rem;
//  font-weight: 600;
//}
%heading {
  font-family: "__Cormorant_Upright_6c3f77", sans-serif;
  font-weight: 400;
}

.heading-1 {
  @extend %heading
}

.heading-2 {
  @extend %heading
}

.heading-3 {
  @extend %heading
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color: $color-grey-light-1
  }

  &--dark {
    color: $color-grey-dark-1
  }
}
