body {
  font-family: "__Cormorant_Upright_6c3f77", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;

  box-sizing: border-box;
}

h2 {
  font-family: "__Cormorant_Upright_6c3f77", sans-serif;
  font-weight: 400;
  font-size: 4.0rem;
}

.title-all-caps {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}
