.intro {
    display: grid;
    grid-column: center-start / center-end;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin: 15rem 0;
    gap: 6rem;
    align-items: start;
    justify-items: center;
    text-align: center;
}

.item {
    padding: 2rem;

    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
    }

    &__text {
        font-size: 1.7rem;
    }
}